  <footer class="подвал" id="контакты">
    <div class="контейнер">
      <div class="заголовок-секции">
        <span class="линия-секции"></span>
        <h2 class="название-секции" data-i18n="common.join"></h2>

        <a class="кнопка кнопка-основная кнопка-большая"
            href="https://instagram.com/move_dance_brno"
            data-i18n="footer.join_btn"></a>
        </div>


      <div class="содержимое-подвала">
        <div class="контактная-информация">
          <a class="элемент-контакта" href="tel:+420773029057">
            <i class="fas fa-phone"></i>
            <span>+420 773 029 057</span>
          </a>

          <a class="элемент-контакта" href="https://maps.app.goo.gl/TTELsvtVCqESiUDz8" aria-label="Address" data-i18n-aria="a11y.address">
            <i class="fas fa-map-marker-alt"></i>
            <span data-i18n-html="footer.address"></span>
          </a>

          <a class="элемент-контакта" href="mailto:MOVE.DANCE.EUROPE@GMAIL.COM">
            <i class="fas fa-envelope"></i>
            <span>MOVE.DANCE.EUROPE@GMAIL.COM</span>
          </a>
        </div>

        <div class="ссылки-соцсетей">
          <a href="https://instagram.com/move_dance_brno" target="_blank" rel="noopener">
            <i class="fab fa-instagram"></i> @MOVE_DANCE_BRNO
          </a>
          <a href="https://t.me/dance_move_bot" target="_blank" rel="noopener">
            <i class="fab fa-telegram"></i> @DANCE_MOVE_BOT
          </a>
        </div>

        <!-- <a class="кнопка кнопка-основная кнопка-большая" href="https://instagram.com/move_dance_brno" data-i18n="footer.join_btn"></a> -->
      </div>

      <!-- <div class="нижняя-часть-подвала">
        <p data-i18n-html="footer.designer"></p>
      </div> -->
    </div>
  </footer>