 <section class="секция-инстаграм">
    <div class="контейнер">
      <div class="карточка-инстаграм">
        <div class="иконка-инстаграм">
          <i class="fab fa-instagram"></i>
        </div>

        <div class="содержимое-инстаграм">
          <h3 data-i18n="common.subscribe"></h3>
          <p><span data-i18n="common.subscribe_sub"></span></p>
        </div>

        <div class="qr-код-инстаграм">
          <img class="qr-изображение" src="images/qr-instagram.png" alt="Instagram QR" />
        </div>
      </div>
    </div>
  </section>