 <section class="секция-присоединяйся">
    <div class="контейнер">
      <div class="карточка-присоединяйся">
        <div class="иконка-телеграм">
          <img src="images/tg_image.png" alt="Telegram icon" />
        </div>

        <div class="содержимое-присоединяйся">
          <h3 data-i18n="tg.h3"></h3>
          <p class="tg-текст" data-i18n-html="tg.text"></p>
        </div>

        <div class="qr-код-телеграм">
          <img class="qr-изображение" src="images/tg_qr.png" alt="Telegram QR @DANCE_MOVE_BOT" />
        </div>
      </div>
    </div>
  </section>